# В этом файле можно оставлять комментарии
# Каждая строчка — это шаблон, по которому происходит игнорирование

# Игнорируется файл в любой директории проекта
*.log
*.jpg
*.png
*.jpeg
*.mp3
*.mp4
*.avi

# Игнорируется директория в любой директории проекта
media
img


# Игнорируется директория в корне git-репозитория
*.txt
*.docx
*.cmd

# Игнорируются все файлы с расширением sqlite3
*.sqlite3

# игнорировать все .txt файлы в каталоге doc/
# на всех уровнях вложенности
# doc/**/*.txt
