{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}  

{% block content %}
    <div class="features">
        <h1>Название: {{ article.title }}</h1>                
        <p>Проект: {{ article.project }}</p>        
        <p>Полный текст: {{ article.full_text }}</p>
        <p>Публикация: {{ article.date }}</p>
        <a href="{% url 'news_delete' article.id %}" class="btn btn-warning">-Удалить  </a>
        <a href="{% url 'news_update' article.id %}" class="btn btn-danger"> -Редактировать</a>
    </div>
{% endblock %}