{% extends 'main/layout.html' %}

{% block title %}Новости{% endblock %}  

{% block content %}
    <div class="features">
        <h1 class="logo_color">Новости</h1>        
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>Нзавание: {{ el.title }}</h3>
                    <p>Проект: {{ el.project }}</p>
                    <p>Опубликована: {{ el.date }}</p>
                    <a href="{% url 'news_detail' el.id %}" class="btn btn-warning">-Читать детальнее</a>
                </div>
            {% endfor %}
        {% else %}   
                <p>У вас нет записей новостей</p>
        {% endif %}      
        <a href="{% url 'create' %}" class="others">Добавить новость</a>
    </div>    
{% endblock %}