{% extends 'main/layout.html' %}
{% load bootstrap4 %}

{% block title %}Форма для отображения блогов{% endblock %}  

{% block content %}
    <div class="features">
        {% if posts %}
            {% for post in posts%}
                <p>Название: {{ post.title }}</p>
                <p>Опубликован: {{ post.timestamp }}</p>
                <p>Текст блога: {{ post.body }}</p>
                <p>Ссылка на источники: {{ post.url_link }}</p>
            {% endfor %}
        {% else %}  
            <p>У вас нет ни одного Блога</p>
        {% endif %}
    </div>
{% endblock %}