{% extends 'main/layout.html' %}

{% block title %}Форма тестирования IMG{% endblock %}  

{% block content %}
    <div class="features">
        <h1>Форма добавления проектов</h1>
        <form method="post" enctype="multipart/ form-data">
            {% csrf_token %}
            {% for img in imgs %)
                <div><img src="{{ img.img.url )}"></div>
                <div><a href="{{ img.img.url }}">Загрузить картинку</а></div>
            {% endfor %}
            <button class="btn btn-warning" type="submit">Добавить проект</button>
        </form>            
    </div>            
{% endblock %}    