{% extends 'main/layout.html' %}

{% block title %}Контакты{% endblock %}  

{% block content %}
    <div class="features">
        <h1 class="logo_color">Контакты</h1>
        <h2>Связь с автором:</h2>
        <p>Дорогие читатели пользователи сайта, для того, чтобы высказать свои рекомендации, пожелания и, возможно, хвалу Автору, можете использовать следующие сопособы связи:</p>
        <h4>Электронная почта: vremrom@yandex.ru</h4>
        <h4>Сотовый телефон: 8 (999) 999-99-99</h4>
    </div>
{% endblock %} 